body {
    background-image: url("/aule555.github.io/img/christian_fond_v01.svg");
    background-color: #3E3E3E;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header {
    position: static;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 70px;
    padding: 0 75px 0 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.grey {
    color: #4E4E4F;
}

h1{
    font-size: 24px;
    width: 582px;
    margin-right: 50px;
    padding-top: 3px;
}

h1 span {
    margin: 0 6px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    width: 320px;
}

.nav-entry {
    border: solid white 2px;
    margin: auto 0;
    padding: 2.5px 5px;
    font-size: 13px;
}

.nav-entry:hover{
    cursor: pointer;
    background-color: darkgrey;
}
.nav-entry:active{
    background-color: lightgray;
}

main {
    display: flex;
    justify-content: space-between;
    min-height: 590px;
    height: calc(100vh - 70px);
    padding: 0 75px 0 50px;    
    z-index: 0;
    overflow: hidden;
}

.opacity-filter {
    position: absolute;
    background-color: black;
    opacity: 0;
    z-index: 3;
    width: 100%;
    height: calc(100% - 70px);
    top: 70px;
    left: 0;
    transition: opacity 0.5s;
}

.display {
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-width: 582px;
    width: 100%;
    margin-right: 50px;
    padding: 135px 0;
}

.display img {
    width: 100%;
    object-fit: contain ;
    z-index: 2;
}

.display video {
    width: 100%;
    height: 100%;
    object-fit: contain ;
    z-index: 6;
    opacity: 1;
    transition: opacity 0.5s;
}

.credits {
    display: block;
    position: absolute;
    bottom: 0;
    height: 112px;
    width: 70%;
    z-index: 4;
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.credits p {
    margin: 5px 0;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 192px;
    width: 240px;
    min-height: 590px;
    height: inherit;
    font-size: 12px;
    opacity: 1;
    transition: opacity 0.5s;
}

.slider-entries {
    overflow-y: scroll;
/* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;   /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
    transform: translateX(0);
    transition: transform 0.2s;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
    display: none;
}

.slider-entry {
    border: solid white 2px;
    color: white;
    font-size: 1.4em;
    text-align: center;
    margin: 10px 0;
    padding: 6px 2px;
    transition: transform 0.1s;
    transform: translateY(0);
}
.slider-entry:hover{
    cursor: pointer;
    background-color: darkgrey;
}
.slider-entry:active{
    background-color: lightgray;
}

.uplist {
    text-align: center;
    margin: 22px 20px;
    margin-top: auto;
}
.downlist {
    text-align: center;
    margin: 22px 20px;
    margin-bottom: auto;
}

.uplist span, .downlist span:hover{
    cursor: pointer;
}

.uplist span, .downlist span {
    border: solid white 2.6px;
    color: white;
    font-size: 1.6em;
    padding: 5px 10px;
}

span.unactive {
    border-color: #747474;
    color: #747474
}

.contact {
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 4;
    font-size: 40px;
    color: white;
    transform: translateY(-50%);
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.5s;
}

.contact p {
    text-align: center;
    width: 100%;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.hidden {
    display: none;
}
.fade {
    opacity: 1;
}

.fadeout {
    opacity: 0;
}

.fadeFilter {
    opacity: 0.50;
}

.upSlide {
    transform: translateY(50px);
}
.downSlide {
    transform: translateY(-50px);

}
.moveRight {
    transform: translateX(200%);
}


