/* font loaders */
@font-face {
    font-family: amiri-bold;
    src: url(typos/Amiri-Bold.ttf);
}
@font-face {
    font-family: amiri-bolditalic;
    src: url(/typos/Amiri-BoldItalic.ttf);
}
@font-face {
    font-family: amiri-regular;
    src: url(typos/Amiri-Regular.ttf);
}
@font-face {
    font-family: amiri-regularitalic;
    src: url(typos/Amiri-RegularItalic.ttf);
}
@font-face {
    font-family: ebgaramond-bold;
    src: url(typos/EBGaramond-Bold.ttf);
}
@font-face {
    font-family: ebgaramond-bolditalic;
    src: url(typos/EBGaramond-BoldItalic.ttf);
}
@font-face {
    font-family: ebgaramond-extrabold;
    src: url(typos/EBGaramond-ExtraBold.ttf);
}
@font-face {
    font-family: ebgaramond-extrabolditalic;
    src: url(typos/EBGaramond-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: ebgaramond-medium;
    src: url(typos/EBGaramond-Medium.ttf);
}
@font-face {
    font-family: ebgaramond-mediumitalic;
    src: url(typos/EBGaramond-MediumItalic.ttf);
}
@font-face {
    font-family: ebgaramond-regular;
    src: url(typos/EBGaramond-Regular.ttf);
}
@font-face {
    font-family: ebgaramond-regularitalic;
    src: url(typos/EBGaramond-RegularItalic.ttf);
}
@font-face {
    font-family: ebgaramond-semibold;
    src: url(typos/EBGaramond-SemiBold.ttf);
}

hr {
    width: 80%;
}
h1, h3 {
    color:#0B6851;
    margin-bottom: 50px;

}

/* header */

header {
    background-color: white;
    text-align: center;
    /* margin: 40% 0 0; */
    padding: 0 20px;
}
.logo {
    max-width: 500px;
    margin: 40% 0 10%;
}
header p {
    font-size: 1em;

}
.wrapper {
    width: 2em;
    margin: 10% 20px;
}
nav {
    display: flex;
    flex-direction: column;
}
.entry {
    /* margin: 10px 0 0; */
    text-align: center;
}
.wrapper-menu {
    width: 2em;
    margin: 10px auto;
}

/*main*/

main {
    padding: 200px 0 0;
    text-align: justify;
    background-color: #F4F4F4;
}

main h3 {
    color:#0B6851;
    text-align: center;
    font-family: "amiri-regular";
}

main p, main li {
    width: 280px;
    margin: 15px auto;
    font-family: "amiri-regular";
    list-style: none;
}

main ul {
    padding: 0;
    text-align: left;
    line-height: 2;
}
main img {
    width: 80%;
    /* padding: 0 10px; */
    margin: 10px 0;
    border: solid #0B6851;
}
.map {
    margin: none;
    border: none;
}
.entry-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prestations-div, .magasin-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations h1 {
    text-align: center;
}

/* dynamic classes */

.main-header {
    /* justify-content: flex-start; */
    /* height: 80px; */
    position: absolute;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}
.main-logo {
    width: 225px;
    margin: 20px auto 0;
}
.hidden {
    display: none;
}
.open {
    transform: rotate(180deg);
}
.selected {
    color: #0B6851;
    font-weight: bold;
}


/* media queries */
li::before {
    content: '~';
}


@media screen and (min-width: 1024px) {

    header {
        padding: 0;
    }

    .logo {
        max-width: 815px;
        margin: 5% 0 10%;
    }
    .main-logo {
        width: 225px;
        margin: 20px auto 0;
    }
    .wrapper {
        width: 4em;
        margin: 10% 0 0;
    }

    nav {
        flex-direction: row;
        justify-content: space-evenly;
        /* width: 80%; */
    }
    .wrapper-menu {
        display: none;
    }

    main h3 {
        font-size: 1.3em;
    }

    main ul {
        text-align: left;
    }
    li::before {
        content: '~';
    }

    .entry-content.prestations {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .entry-content.prestations img {
        width: 350px;
        /* margin: 0 auto; */
    }
    .prestations-div {
        width: 30%;
        /* margin: 0 10px; */
        height: 920px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .entry-content.magasin {
        flex-direction: column;
        padding: 0 110px;
    }
    .magasin .top-side {
        display: flex;
        flex-direction: row;
        margin: 100px 100px 100px 0;
    }
    .top-side .main-text p {
        margin: 0;
    }
    .top-side #img1 {
        width: 50%;
        height: auto;
        object-fit: cover;
    }
    .magasin .bot-side {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .bot-side img {
        width: 25%;
    }

    .informations {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .informations h1 {
        text-align: left;
    }
    .map {
        width: 500px;
    }

    @media screen and (min-width: 1680px) {
        /* .entry-content.magasin {
            flex-direction: row;
        } */

        main p {
            width: 400px;
            font-size: 1.3em;
        }
    }
}