/* font loaders */
@font-face {
    font-family: amiri-bold;
    src: url(typos/Amiri-Bold.ttf);
}
@font-face {
    font-family: amiri-bolditalic;
    src: url(/typos/Amiri-BoldItalic.ttf);
}
@font-face {
    font-family: amiri-regular;
    src: url(typos/Amiri-Regular.ttf);
}
@font-face {
    font-family: amiri-regularitalic;
    src: url(typos/Amiri-RegularItalic.ttf);
}
@font-face {
    font-family: ebgaramond-bold;
    src: url(typos/EBGaramond-Bold.ttf);
}
@font-face {
    font-family: ebgaramond-bolditalic;
    src: url(typos/EBGaramond-BoldItalic.ttf);
}
@font-face {
    font-family: ebgaramond-extrabold;
    src: url(typos/EBGaramond-ExtraBold.ttf);
}
@font-face {
    font-family: ebgaramond-extrabolditalic;
    src: url(typos/EBGaramond-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: ebgaramond-medium;
    src: url(typos/EBGaramond-Medium.ttf);
}
@font-face {
    font-family: ebgaramond-mediumitalic;
    src: url(typos/EBGaramond-MediumItalic.ttf);
}
@font-face {
    font-family: ebgaramond-regular;
    src: url(typos/EBGaramond-Regular.ttf);
}
@font-face {
    font-family: ebgaramond-regularitalic;
    src: url(typos/EBGaramond-RegularItalic.ttf);
}
@font-face {
    font-family: ebgaramond-semibold;
    src: url(typos/EBGaramond-SemiBold.ttf);
}

hr {
    width: 85%;
    border-top: 3px solid #e3e3e3;
    margin: 0 auto;
}
h1, h3 {
    color:#0B6851;
    /* margin-bottom: 50px; */
}
h1 {
    font-size: 3em;
}

/* header */

header {
    background-color: white;
    text-align: center;
    /* margin: 40% 0 0; */
    padding: 0 20px;
}
.logo {
    max-width: 500px;
    margin: 40% 0 10%;
}

header p {
    font-family: "ebgaramond-regular";
    font-size: calc(1em + 1vw);
    margin: 40px auto 20px;
    max-width: 600px;
    color:#0B6851;

}
.wrapper {
    width: 3em;
    margin: 10% auto 20px;
}
nav {
    display: flex;
    flex-direction: column;
}
.entry {
    font-size: 1.4em;
    text-align: center;
}
.entry:hover {
    cursor: pointer;
}
.wrapper-menu {
    width: 2em;
    margin: 10px auto;
}

/*main*/

main {
    padding: 200px 0 0;
    text-align: justify;
    background-color: #F4F4F4;
    padding: 260px 0 0;
}
main h3 {
    color:#0B6851;
    text-align: center;
    font-family: "ebgaramond-medium";
}
main p, main li {
    width: 280px;
    margin: 15px auto;
    font-family: "ebgaramond-medium";
    list-style: none;
}
li::before {
    content: '-';
}
main ul {
    padding: 0;
    text-align: left;
    line-height: 1;
}
main img {
    width: 80%;
    /* padding: 0 10px; */
    margin: 10px 0;
    /* border: solid #0B6851; */
}

.entry-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    margin: none;
    border: none;
}

.prestations-div, .magasin-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prestations img {
    margin: 50px 0;
}

.informations h1 {
    text-align: center;
}

/* dynamic classes */

.main-header {
    /* justify-content: flex-start; */
    /* height: 80px; */
    position: absolute;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}
.main-logo {
    width: 225px;
    margin: 30px auto 40px;
}
.hidden {
    display: none;
}
.open {
    transform: rotate(180deg);
}
.selected {
    color: #0B6851;
    font-weight: bold;
}


/* media queries */

@media screen and (max-width: 600px) {
    hr {
        border-top: 2px solid #e3e3e3;
    }
    .entry {
        font-size: 1.2em;
    }

    .wrapper {
        width: 2em;
    }
}

@media screen and (min-width: 1024px) {

    header {
        padding: 0;
    }
    .logo {
        max-width: 815px;
        margin: 125px 0 150px 0;
    }
    header p {
        font-size: 2.4em;
        width: 900px;
        margin: 0 auto;
        color: #0B6851;
        max-width: none;
    }
    .main-logo {
        width: 400px;
        margin: 30px auto 40px;
    }
    .wrapper {
        width: 4em;
        margin: 80px 0 0;
    }
    nav {
        flex-direction: row;
        justify-content: space-evenly;
        /* width: 80%; */
        margin: 10px 0;

    }
    .entry {
        font-size: 1.7em;
    }
    .wrapper-menu {
        display: none;
    }

    main {
        padding: 400px 0 0;
    }
    main h3 {
        font-size: 1.5em;
        margin: 0;
    }
    main p, main li {
        width: 360px;
        margin: 15px auto;
        font-family: "ebgaramond-medium";
        font-size: 1.2em;
    }
    main ul {
        text-align: left;
        height: 400px;

    }
    li::before {
        content: '-';
    }

    .entry-content.prestations {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 0 110px;

    }
    .entry-content.prestations img {
        width: 360px;
        /* margin: 0 auto; */
    }
    .prestations-div {
        width: 30%;
        /* margin: 0 10px; */
        height: 920px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
    }

    .entry-content.magasin {
        flex-direction: column;
        padding: 0 87px;
    }
    .magasin .top-side {
        display: flex;
        flex-direction: row;
        /* margin: 100px 100px 100px 0; */
    }
    .magasin p {
        margin: 0;
    }
    .top-side .bot-side {
        width: 1200px;
    }
    .top-side .main-text p {
        margin: 0;
    }
    .top-side #img1 {
        height: 350px;
        margin-left: 107px;
        width: auto;
        object-fit: cover;
    }
    .magasin .bot-side {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: unset;
        margin: 60px 0;
    }
    .bot-side img {
        width: 320px;
        margin: 0 75px;
    }

    .informations {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .informations h1 {
        text-align: left;
    }
    .map {
        margin-top: 23px;
        width: 307px;
    }

}